body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

section {
  z-index: 3;
}

.ui-widget-content {
  background: #3d4248;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #2a2d30;
  margin: 0 auto;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
}

.top {
  background: #38393c;
  border: 1px solid #2a2d30;
  // border-top-left-radius: 6px;
  // border-top-right-radius: 6px;
  // text-align: center;
  color: #fdfdfd;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
  height: 45px;
  padding: 8px;
}

.title {
  display: inline-block;
  margin-top: 2px;
  margin-left: 15px;
  font-family: cursive;
  position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.dot i {
  display: none;
  margin-bottom: 5px;
  right: 0.6px;
  font-size: 5px;
}

.dot:hover {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  i {
    display: block;
  }
}
.close {
  background: #f25056;
  // background: radial-gradient(14px at 7px 50%, #ff5e57 0px, #ff635a 5px, #fd5249 6px, rgba(255, 255, 255, 0) 7px);
}

.resizable {
  background: #fac536;
  // background: radial-gradient(14px at 7px 50%, #ffbd2e 0px, #ffc42f 5px, #fcb91b 6px, rgba(255, 255, 255, 0) 7px);
}

.minimize {
  background: #39ea49;
  // background: radial-gradient(14px at 7px 50%, #5ac05a 0px, #58c258 5px, #56c260 6px, rgba(255, 255, 255, 0) 7px);
}

.content {
  width: 100%;
  height: 100%;
  margin-top: -45px;
  padding-top: 45px;
}

.maximized {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
