<section id="{{idElement}}" class="ui-widget-content" style="width: 500px; height: 500px;" (click)="clickWindow()">

   <div class="top">
    <div class="dot close" (click)="closeWindow()">
      <span class="ui-icon ui-icon-close"></span>
    </div>
    <div class="dot resizable" (click)="maximize()" *ngIf="!maximumSize">
      <span class="ui-icon ui-icon-extlink"></span>
    </div>
    <div class="dot resizable" (click)="resizable()" *ngIf="maximumSize">
      <span class="ui-icon ui-icon-newwin"></span>
    </div>
    <div class="dot minimize" (click)="minimize()">
      <span class="ui-icon ui-icon-minus"></span>
    </div>
    <div class="title">{{ title }}</div>
  </div>

  <div class="content">
    <!-- <app-tela></app-tela> -->
    <ng-content></ng-content>

  </div>
</section>

<li id="min-{{idElement}}" class="active" (click)="undoMinimize()" style="display: none;">
  <span> {{ title }}</span>
  <a><img src="../../assets/img/{{icon}}" /></a>
</li>
