<!-- <app-menu></app-menu> -->

<div>

  <div class="main" *ngFor="let item of arrayWindow">

    <app-window [title]="item.title" [idElement]="item.idElement" [icon]="item.icon"
      [backgroundContent]="item.backgroundContent" [openMaxmize]="item.openMaxmize">
      <ng-container *ngComponentOutlet="item.component">
      </ng-container>
    </app-window>

  </div>

  <div id="#desktop" style="position: fixed; z-index: 1;">

    <a class="button" (dblclick)="newWindow()">
      <span>
        <img src="../../assets/img/Misc-Desktop-Mac-icon.png" />
      </span>
      <p>Tela 1</p>
    </a>

    <a class="button" (dblclick)="newWindowTela2()">
      <span>
        <img src="../../assets/img/Folder-Mac-icon.png" />
      </span>
      <p>Tela 2</p>
    </a>

    <a class="button" (dblclick)="openMaps()">
      <span>
        <img src="../../assets/img/map.png" />
      </span>
      <p>Maps</p>
    </a>

  </div>

  <div id="dockContainer" *ngIf="arrayWindow.length != 0">
    <div id="dockWrapper">
      <div class="cap left"></div>
      <ul class="osx-dock">
        <!--  -->
      </ul>
    </div>
  </div>

</div>
